<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Day4_2Assignmnets/src/com/atos/assignments/assign3_2/TestCodeGenerator.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.atos.assignments.assign3_2.TestCodeGenerator"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Day4_2Assignmnets"/>
</launchConfiguration>
