<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ServletEx</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletConfigDemo</display-name>
    <servlet-name>ServletConfigDemo</servlet-name>
    <servlet-class>com.atos.java.servlet.ServletConfigDemo</servlet-class>
    <init-param>
      <param-name>name</param-name>
      <param-value>shivkumar</param-value>
    </init-param>
    <init-param>
      <param-name>email</param-name>
      <param-value>rshivkumar95@gmail.com</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletConfigDemo</servlet-name>
    <url-pattern>/ServletConfigDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletContextDemo</display-name>
    <servlet-name>ServletContextDemo</servlet-name>
    <servlet-class>com.atos.java.servlet.ServletContextDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletContextDemo</servlet-name>
    <url-pattern>/ServletContextDemo</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>protocol</param-name>
    <param-value>shivkumar</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>Redirection</display-name>
    <servlet-name>Redirection</servlet-name>
    <servlet-class>com.atos.java.servlet.Redirection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Redirection</servlet-name>
    <url-pattern>/Redirection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidUserServlet</display-name>
    <servlet-name>ValidUserServlet</servlet-name>
    <servlet-class>com.atos.java.servlet.ValidUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidUserServlet</servlet-name>
    <url-pattern>/ValidUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InValidServlet</display-name>
    <servlet-name>InValidServlet</servlet-name>
    <servlet-class>com.atos.java.servlet.InValidServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InValidServlet</servlet-name>
    <url-pattern>/InValidServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Fs1</display-name>
    <servlet-name>Fs1</servlet-name>
    <servlet-class>com.atos.java.servlet.Fs1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Fs1</servlet-name>
    <url-pattern>/Fs1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Fs2</display-name>
    <servlet-name>Fs2</servlet-name>
    <servlet-class>com.atos.java.servlet.Fs2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Fs2</servlet-name>
    <url-pattern>/Fs2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Bill</display-name>
    <servlet-name>Bill</servlet-name>
    <servlet-class>com.atos.java.servlet.Bill</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bill</servlet-name>
    <url-pattern>/Bill</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HideServlet</display-name>
    <servlet-name>HideServlet</servlet-name>
    <servlet-class>com.atos.java.servlet.HideServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HideServlet</servlet-name>
    <url-pattern>/HideServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UrlServlet</display-name>
    <servlet-name>UrlServlet</servlet-name>
    <servlet-class>com.atos.java.servlet.UrlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UrlServlet</servlet-name>
    <url-pattern>/UrlServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>First</display-name>
    <servlet-name>First</servlet-name>
    <servlet-class>com.atos.java.servlet.First</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>First</servlet-name>
    <url-pattern>/First</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionEx</display-name>
    <servlet-name>SessionEx</servlet-name>
    <servlet-class>com.atos.java.servlet.SessionEx</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionEx</servlet-name>
    <url-pattern>/SessionEx</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet1</display-name>
    <servlet-name>Servlet1</servlet-name>
    <servlet-class>com.atos.java.servlet.Servlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet1</servlet-name>
    <url-pattern>/Servlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet2</display-name>
    <servlet-name>Servlet2</servlet-name>
    <servlet-class>com.atos.java.servlet.Servlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet2</servlet-name>
    <url-pattern>/Servlet2</url-pattern>
  </servlet-mapping>
</web-app>